.container {
  display: flex;

  .inner-container {
    width: 100%;
  }

  .openButton,
  .closeButton {
    display: none;
    background: transparent;
    border: none;
    border-radius: 100px;
    position: fixed;
    cursor: pointer;
    z-index: 3;
  }

  .openButton {
    bottom: 3.2rem;
    background: #5b6ad0;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
    left: 2rem;
    padding: 1rem;
  }

  .closeButton {
    border: 1px solid #e0e0e0;
    padding: 0.6rem;
    top: 1.6rem;
    left: 13rem;
  }
}
@media (max-width: 900px) {
  .container {
    .openButton,
    .closeButton {
      display: block;
    }
  }
}
