.inner-container {
  overflow-y: auto;
  height: 100vh;

  h2 {
    color: #404d61;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 140%;
    margin: 3rem auto 3rem 3rem;
  }
  .center {
    width: fit-content;
    margin: auto;

    .flex-row {
      display: flex;
      justify-content: center;

      .flex-column {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media only screen and (max-width: 744px) {
  .inner-container {
    .center {
      .flex-row {
        flex-direction: column;
      }
    }
  }
}
